html{
  box-sizing: border-box;
  font-size: 16px;
  font-family:sans-serif;

}
*:after,
*:before{
  box-sizing: inherit;
}
input[type="text"]{
border:thin solid #dedede;
border-radius:0.25rem;
padding:0.75rem;
margin-bottom: 1rem;
outline:none;
display:block;
width:100%;
font-size:1rem;
line-height:1;
background-color: transparent;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"]{

  border:thin solid #444;
  border-radius:0.25rem;
  padding:0.5rem 1rem;
  margin:0 0.5rem 0 0;
  display:inline-block;
  background-color:#eee;
color:#444;
font-weight:bold;
text-transform:none;
font-size:1rem;
line-height:1rem;
text-decoration:none;
text-align:center;
vertical-align:center;
cursor:pointer;
}
form{
  margin-bottom:1rem;
}
hr{
  margin:2rem auto;

}
table{
  border-spacing:0;
  border-collapse:collapse;
  width:100%
}
th,
td{
  text-align:center;
  padding:2rem;
  border-bottom:thin solid #dedede;
}

@media screen and (min-width:1024px){
  .grid-1-2{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:start;
    gap:2rem;
    color:green;
  }
  .grid-1-3{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    align-items:start;
    gap:2rem;
    color:green;
  }

}
.active{
  color: #61fb61;
}
a{
  margin: 2rem;
}
input[type="button"]:disabled{
border-color:rgba(118, 118, 118,.3);
color:rgba(16, 16, 16,.3);
background-color:rgba(239, 239, 239,.3);
cursor:default;
}